{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pret</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pret.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if pret.date %}{{ pret.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pret_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pret_edit', { 'id': pret.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
