
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <title>BIBLIOTHEQUE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block stylesheet %}

        <link rel="shortcut icon" href="assets/images/favicon_1.ico">

        <link href="{{ asset('assets/plugins/sweetalert/dist/sweetalert.css')}}" rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/core.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/icons.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/components.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/pages.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/menu.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/responsive.css')}}" rel="stylesheet" type="text/css">

        <script src="assets/js/modernizr.min.js"></script>

        <link rel="stylesheet" href="{{ asset('css/onglet/bootstrap.min.css') }}" />
        <script src="{{ asset('js/onglet/jquery.min.js') }}"></script>
        <script src="{{ asset('js/onglet/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>


    <body class="fixed-left"  style="background:whitesmoke;">
        
        <!-- Begin page -->
        <div id="wrapper" >
        
            <!-- Top Bar Start -->
            <div class="topbar" >
                <!-- LOGO -->
                <div class="topbar-left" >
                    <div class="text-center" >
                        <a href="index.html" class="logo"><i class="md md-terrain"></i> <span>UAHB</span></a>
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button type="button" class="button-menu-mobile open-left">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>
                            <form class="navbar-form pull-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control search-bar" placeholder="Type here for search...">
                                </div>
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </form>

                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="dropdown hidden-xs">
                                    <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                        <i class="md md-notifications"></i> <span class="badge badge-xs badge-danger">3</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg">
                                        <li class="text-center notifi-title">Notification</li>
                                        <li class="list-group">
                                           <!-- list item-->
                                           <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="media-left">
                                                    <em class="fa fa-user-plus fa-2x text-info"></em>
                                                 </div>
                                                 <div class="media-body clearfix">
                                                    <div class="media-heading">New user registered</div>
                                                    <p class="m-0">
                                                       <small>You have 10 unread messages</small>
                                                    </p>
                                                 </div>
                                              </div>
                                           </a>
                                           <!-- list item-->
                                            <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="media-left">
                                                    <em class="fa fa-diamond fa-2x text-primary"></em>
                                                 </div>
                                                 <div class="media-body clearfix">
                                                    <div class="media-heading">New settings</div>
                                                    <p class="m-0">
                                                       <small>There are new settings available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                            </a>
                                            <!-- list item-->
                                            <a href="javascript:void(0);" class="list-group-item">
                                              <div class="media">
                                                 <div class="media-left">
                                                    <em class="fa fa-bell-o fa-2x text-danger"></em>
                                                 </div>
                                                 <div class="media-body clearfix">
                                                    <div class="media-heading">Updates</div>
                                                    <p class="m-0">
                                                       <small>There are
                                                          <span class="text-primary">2</span> new updates available</small>
                                                    </p>
                                                 </div>
                                              </div>
                                            </a>
                                           <!-- last list item -->
                                            <a href="javascript:void(0);" class="list-group-item">
                                              <small>See all notifications</small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                                </li>
                                
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="{{ asset('assets/images/users/lindor.png')}}" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile</a></li>
                                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

{% block side %}
            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu" style="background:green; color:#000;">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="pull-left">
                            <img src="{{ asset('assets/images/users/lindor.png')}}" alt="" class="thumb-md img-circle">
                        </div>
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="color:white;">Lindor NDIAYE <span class="caret"></span></a>
                                <ul class="dropdown-menu" >
                                    <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                                </ul>
                            </div>
                            
                            <p class="text-muted m-0" style="color:white;">Administrator</p>
                        </div>
                    </div>
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul style="background:green; color:#000;">
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-home"></i><span> Login utilisateurs </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled" style="color:white;">
                                        <li><a href="mail-inbox.html">Les profils</a></li>
                                        <li><a href="mail-compose.html">Gestion des utilisateurs</a></li>
                                        <li><a href="mail-read.html">Utilisateurs et mot de passe</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                
                                <a href="#" class="waves-effect"><i class="md md-mail"></i><span> Paramétrage </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li class="has_sub">
                                        <a href="mail-inbox.html" class="waves-effect"><i class="md md-home"></i><span> Organisation pédagogique </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                        <ul class="list-unstyled" style="color:white;">
                                            <li><a href="#">Facultés et départements</a></li>
                                            <li><a href="#">Filières</a></li>
                                            <li><a href="#">Classes</a></li>
                                            <li><a href="#">Spécialité</a></li>
                                            <li><a href="#">Unité d'enseignement</a></li>
                                            <li><a href="#">Nationalité et pays</a></li>
                                        </ul>
                                    </li>
                                    <li class="has_sub">
                                        <a href="mail-inbox.html" class="waves-effect"><i class="md md-home"></i><span> Frais de scolarite et dossier </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                        <ul class="list-unstyled" style="color:white;">
                                            <li><a href="mail-inbox.html">les pièces à fournir</a></li>
                                            <li><a href="mail-compose.html">tarifs globaux</a></li>
                                            <li><a href="mail-read.html">Frais ee scolarité par classe</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-home"></i><span> Porte-feuille étudiants </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled" style="color:white;">
                                        <li><a href="mail-inbox.html">Gestions des étudiants</a></li>
                                        <li><a href="mail-compose.html">liste de tous les étudiants</a></li>
                                        <li><a href="mail-read.html">Numéros de télépnone</a></li>
                                        <li><a href="mail-read.html">Inscription par date</a></li>
                                        <li><a href="mail-read.html">Récap global des éffectifs</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-home"></i><span> School Docs </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled" style="color:white;">
                                        <li><a href="mail-inbox.html">Demande de stage</a></li>
                                        <li><a href="mail-compose.html">Préinscription</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-home"></i><span> Requetes </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled" style="color:white;">
                                        <li><a href="mail-inbox.html">Liste des étudiant par niveau</a></li>
                                        <li><a href="mail-inbox.html">Liste des étudiant par faculté</a></li>
                                        <li><a href="mail-inbox.html">Liste des étudiant par département</a></li>
                                        <li><a href="mail-inbox.html">Liste des étudiant par filière</a></li>
                                        <li><a href="mail-inbox.html">Liste des étudiant par classe</a></li>
                                        <li><a href="mail-inbox.html">Liste des étudiant par spécialité</a></li>
                                </ul>
                            </li>

                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End --> 


{% endblock %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
           {% block body %}
           {% endblock %}
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->
{% block scripts %}
    
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{ asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('assets/js/detect.js')}}"></script>
        <script src="{{ asset('assets/js/fastclick.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.blockUI.js')}}"></script>
        <script src="{{ asset('assets/js/waves.js')}}"></script>
        <script src="{{ asset('assets/js/wow.min.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.nicescroll.js')}}"></script>
        <script src="{{ asset('assets/js/jquery.scrollTo.min.js')}}"></script>

        <script src="{{ asset('assets/js/jquery.app.js')}}"></script>
        
        <!-- jQuery  -->
        <script src="{{ asset('assets/plugins/moment/moment.js')}}"></script>
        
        <!-- jQuery  -->
        <script src="{{ asset('assets/plugins/waypoints/lib/jquery.waypoints.js')}}"></script>
        <script src="{{ asset('assets/plugins/counterup/jquery.counterup.min.js')}}"></script>
        
        <!-- jQuery  -->
        <script src="{{ asset('assets/plugins/sweetalert/dist/sweetalert.min.js')}}"></script>
        
        
        <!-- flot Chart -->
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.time.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.tooltip.min.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.resize.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.pie.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.selection.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.stack.js')}}"></script>
        <script src="{{ asset('assets/plugins/flot-chart/jquery.flot.crosshair.js')}}"></script>

        <!-- jQuery  -->
        <script src="{{ asset('assets/pages/jquery.todo.js')}}"></script>
        
        <!-- jQuery  -->
        <script src="{{ asset('assets/pages/jquery.chat.js')}}"></script>
        
        <!-- jQuery  -->
        <script src="{{ asset('assets/pages/jquery.dashboard.js')}}"></script>
        
        <script type="text/javascript">
            /* ==============================================
            Counter Up
            =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>
    

    {% endblock %}
    </body>
</html>


