{% extends '@biblio/home.html.twig' %}

{% block slider %}
{% endblock %}
{% block global %}
    <div class="global indent">
        <!--content-->
        <div class="container">
            <div class="row">
                <article class="col-lg-4 col-md-4 col-sm-5">
                    <h3>mission &amp; vision</h3>
                    <ul class="list2">
                        <li>
                            <div class="badge">1.</div>
                            <div class="extra-wrap">
                                <p><a href=="#">esque pretium metus et.</a><br>Donec hendrerit metus quis velit sollicitudin tincidunt. Ut aliquam massa, congue suscipit risus metus eget libero.</p>
                            </div>
                        </li>
                        <li>
                            <div class="badge">2.</div>
                            <div class="extra-wrap">
                                <p><a href="#">Cum sociis natoque pena.</a><br>Aenean non nibh consectetur, vulputate nibh ut, placerat enim. In ornare, velit quis molestie lobortis, lorem.</p>
                            </div>
                        </li>
                        <li>
                            <div class="badge">3.</div>
                            <div class="extra-wrap">
                                <p><a href="#">que penatibus et magnis.</a><br>Nibh ut, placerat enim. In ornare, velit quis molestie lobortis, lorem urna laoreet dui, vitae imperdiet turpis.</p>
                            </div>
                        </li>
                    </ul>
                    <h3>testimonials</h3>
                    <ul class="list3">
                        <li>
                            <p>“ Aliquam et tincidunt leo, ut tempus orci. Donec fringilla rhoncus erat leo et ante. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam accumsan. ”</p>
                            <a href="#">Bradley Grosh, SENEGAL</a>
                        </li>
                        <li>
                            <p>“ Phasellus pharetra risus dignissim ligula mattis ridiculus mus. Cum sociis natoque penatibus et magnis dis partuaugue ultrices, faucibus dolor ac, consequat magna. In a condimentum ligula. Aenean non. ”</p>
                            <a href="#">Steven Donovan, USA</a>
                        </li>
                    </ul>
                </article>
                <article class="col-lg-8 col-md-8 col-sm-7 aboutBox">
                    <h3>about us</h3>
                    <h4>Aliquam at est porttitor, rutrum felis eget.</h4>
                    <p>Mauris at augue dignissim, bibendum ante ac, condimensemper nisl! Cras commodo dolor lobortis massa luctus mollis. Cras commodo, felis at tempor sodales, nulla ante Cras aliquet dignissim semper? Nullam ac justo vitae arcu mollis rutrum.
                        Nam laoreet blandit tortor, ullamcorper placerat diam iaculis aliquam. Cras rutrum lorem leo, at sollicitudin arcu tempor eu? aliquet nisl mi, at tempus justo dictum vitae. Nulla vestibulum orci est, sed sagittis purus lobortis
                        eu.
                    </p>
                    <a href="#" class="btn-default btn1">read more</a>
                </article>
                <article class="col-lg-8 col-md-8 col-sm-7 teamBox">
                    <h3>our people</h3>
                    <div class="row">
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a href="{{asset ('img/img1.jpg')}}"><img src="{{asset ('img/page2_pic1.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">eva Ndiaye</a>
                                            <p>Quisque egestas elit aug.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a hre="{{asset ('img/img2.jpg')}}"><img src="{{asset ('img/page2_pic2.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">Abou DIOP</a>
                                            <p>Phasellus pharetra risus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a href="{{asset ('img/img3.jpg')}}"><img src="{{asset ('img/page2_pic3.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">ZAHRA</a>
                                            <p>Pharetra risus dignissim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a href="{{asset ('img/img4.jpg')}}"><img src="{{asset ('img/page2_pic4.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">ALPHA LO</a>
                                            <p>Donec auctor magna</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a href="{{asset ('img/img5.jpg')}}"><img src="{{asset ('img/page2_pic5.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">SERIGNE FALL</a>
                                            <p>Auctor magna eget arc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                            <div class="thumb-pad4 maxheight" style="height: 260px;">
                                <div class="box_inner">
                                    <div class="thumbnail">
                                        <figure>
                                            <a href="{{asset ('img/img6.jpg')}}"><img src="{{asset ('/page2_pic6.jpg')}}" alt=""></a>
                                        </figure>
                                        <div class="caption">
                                            <a href="#">Maria Brooks</a>
                                            <p>Proin at rhoncus tesque.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {% endblock %}

    
