{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ouvrages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ouvrage in ouvrages %}
            <tr>
                <td><a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">{{ ouvrage.id }}</a></td>
                <td>{{ ouvrage.titre }}</td>
                <td>{{ ouvrage.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ouvrage_edit', { 'id': ouvrage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ouvrage_new') }}">Create a new ouvrage</a>
        </li>
    </ul>
{% endblock %}
