{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emprunteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ emprunteur.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ emprunteur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emprunteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('emprunteur_edit', { 'id': emprunteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
